# Node modules
node_modules/

# Environment variables
.env

# Dependency lock file (facultatif)
package-lock.json

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System files
.DS_Store
Thumbs.db

# IDEs / Editors
.vscode/
.idea/

# Coverage / build / temp files
coverage/
dist/
tmp/
